<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="main.java.propertea"/>
    <context:annotation-config/>
    <bean id="userDAO" class="main.java.propertea.database.finance.UserDAO"/>

    <bean id="financialDB" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbcDriver"/>
        <property name="url" value="jdbc:mysql://10.8.1.7/financialDB"/>
        <property name="username" value="jef"/>
        <property name="password" value="ProperTea"/>
    </bean>

    <bean id="landlordDB" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbcDriver"/>
        <property name="url" value="jdbc:mysql://10.8.1.7/landlordDB"/>
        <property name="username" value="jef"/>
        <property name="password" value="ProperTea"/>
    </bean>
</beans>